.bg {
    /* The image used */
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);

    /* Full height */
    height: 110%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border: 1px solid darkblue;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20%;
    padding: 10px;
    text-align: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-group button {
    background-color: #054d95; /* Green background */
    border: 1px solid darkblue; /* Green border */
    color: white; /* White text */
    padding: 15px 54px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #02294f;
}

body, html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}